.onlineStatus {
    height: 23px;
    background: #F0FDF4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 8px;
    border: 1px solid #B9F8CF;
    transition: 0.2s;
}

.statusInactive {
    background: #FFC9C9;
    border: 1px solid #FFC9C9;
}

.onlineStatus p {
    color: #008236;
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    transition: color 0.2s;
}

.statusInactive p {
    color: #C10007;
}